################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PaymentAPI/.vs/PaymentAPI/FileContentIndex/459d4715-758a-4713-9a6a-b5d93b2e1832.vsidx
/PaymentAPI/.vs/PaymentAPI/v17/.suo
*.vsidx
*.v2
/PaymentAPI/.vs
/PaymentAPI/.vs/PaymentAPI/v17/DocumentLayout.json
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.AssemblyInfo.cs
/PaymentAPI/obj/Debug/net8.0
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.AssemblyInfoInputs.cache
/PaymentAPI/obj/Debug/net8.0/rpswa.dswa.cache.json
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.AssemblyInfoInputs.cache
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.AssemblyInfoInputs.cache
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.AssemblyInfoInputs.cache
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.AssemblyInfoInputs.cache
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.AssemblyInfoInputs.cache
/PaymentAPI/bin/Debug/net8.0
/PaymentAPI/obj/Debug/net8.0/rpswa.dswa.cache.json
